@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-color: pink #EFEAE3;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 2vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height: 70px;
    width: 110px;
}

#nav2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav2 h4{
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight:  700;
    transition: all ease 0.4s;
    position: relative;
    color: #000000bb;
    font-size: 18px;
    overflow: hidden;
}

#nav2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav2 h4:hover::after{
bottom: 0;
border-radius: 0;
}

#nav2 h4 a{
    color: #000000bb;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    /**background-color: pink; **/
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 2.5vw;
}

#left h3{
    font-weight: 700;
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    border-radius: 20px;
    margin-top: 3vw;
    width: 100%;
    position: relative;
}

#hero-shape{
    position:absolute;

    width: 46vw;
    height: 36vw;
    background: linear-gradient(pink,rgb(246, 246, 155));
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 65vh;
    filter: blur(20px);
}

#hero1{
    height: 100%;
    width: 100%;
    top: 5vh;
    background: linear-gradient(pink,rgb(246, 246, 155));
    position : absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
}

#hero2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(pink,rgb(246, 246, 155));
    position : absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anim1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(pink,rgb(246, 246, 155));
    position : absolute;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anim2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anim1 {
    from {
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%,-10%);
    }
}

@keyframes anim2 {
    from {
        transform: translate(5%, -10%);
    }
    to{
        transform: translate(-20%,30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

.container {
    white-space: nowrap;
    display: inline-flex; 
    align-items: center; 
    animation-name: movetxt;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
}

#movingtxt {
    overflow: hidden;
    white-space: nowrap;
}

#movingtxt::-webkit-scrollbar{
    display: none;
}

.container h1 {
    font-size: 9vw;
    display: inline-block;
    margin: 0; 
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: pink;
    display: inline-block;
    margin-left: 10px;
    margin: 1vw 2vw;
}

@keyframes movetxt {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100vw);
    }
}

#page2bottom {
    height: auto;
    width: 100%;
    /* background-color: white; */
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    z-index: 9;
}

#page2bottom h1 {
    font-size: 3.3vw;
    width: 60%;
    line-height: 4vw;
}

#b2 {
    width: 20%;
}

#b2 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 100%;
}

#b2 p{
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;
}

@media (max-width: 1024px) {
    #b2 p {
        font-size: 1.5vw;
    }
}

#page2 #blob{
    height: 35vw;
    width: 35vw;
    position: absolute;
    background: linear-gradient(to top right,rgb(250, 136, 155),rgb(246, 246, 155));
    border-radius: 50%;
    top: 50%;
    left: 30%;
    animation-name: blob;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes blob {
    from {
        filter: blur(20px);
        transform: translate(10%,-10%) skew(0deg);
    }
    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3{
    min-height:100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0vw;
    
}

.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid black;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2{
    font-size: 3vw;
    position: relative;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 159, 175);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s ;
}

.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    background-color: pink;
    border-radius: 10px;
    position: fixed;
    z-index: 9;
    left: 51%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
}

#page5{
    height: 100vh;
    width: 100%;
    
}

#main{
    position: relative;
    z-index: 2;
    background-color: transparent;
}

#footer{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background-color: pink;
    color: beige;

}
#footer h1{
    font-size: 15vw;
}
